{% extends "base.html" %}

{% block content %}

<form method="post">
    <table class="new-post">
        <tr>
            <td class="tlabel">
                <label>Comment</label>
            </td>
            <td>
                <textarea class="post-content" name="comment">{{ comment }}</textarea>
            </td>
        </tr>
    </table>
    <input type="hidden" name="comment_id" value="{{ comment_id }}">
    {% if error %}
    <div class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        {{ error }}
    </div>
    {% endif %}
    <input type="submit">
</form>
{% endblock %}