{% extends "base.html" %}

{% block content %}

<h2>Login</h2>

<form method="post">
    <table>
        <tr>
            <td>Username*</td>
            <td><input type="text" name="username" value="{{ username }}"></td>
        </tr>
        <tr>
            <td>Password*</td>
            <td><input type="password" name="password" value="{{ password }}"></td>
        </tr>
    </table>
    {% if error %}
    <div class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        {{ error }}
    </div>
    {% endif %}

    <input type="submit">
</form>
{% endblock %}