<div class="post">
    <div class="post-heading">
        <h2><a class="post-title" href="/blog/{{ p.key().id() }}">{{ p.subject }}</a></h2>

        <p class="post-date">
            {{ p.created.strftime("%b %d, %Y") }} | by {{ p.user().name }}
        </p>
    </div>
    <hr class="post-sep">
    <div class="post-content">
        {{ p.content | replace("\n", "<br>") | safe}}
    </div>

    <div class="row">
        <div class="col-md-6">
        {% if user %}
            {% if user.name != p.user_ref.name %}
            <button type="button" class="btn btn-default btn-lg btn-like">
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                <span class="btn-like-name" data-value="{{ p.key().id() }}">
                {% if p.like %}
                    Dislike
                {% else %}
                    Like
                {% endif %}
                </span>
            </button>
            {% endif %}
        {% endif %}
        </div>
        <div class="col-md-6 text-right">
            <p class="text-info">
                Liked by <span class="badge" data-value="{{ p.key().id() }}">{{ p.likes_count }}</span>
            </p>
        </div>
    </div>
</div>